{% include "header.html"%} 
<!DOCTYPE html>
    <head>
        <title><h1> Nothing</h1></title>
        <link rel="stylesheet" href="/static/css/index1.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <marquee>
        {% for news in newsData %}
           <a href="/newsDetails/{{news.id}}"> {{news.news_title}} </a> &nbsp;&nbsp;&nbsp;
        {% endfor %}
    </marquee>
    <section class="feature-area section-gap" id="service">
        <div class="container">
            <div class="row s-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Some features that made us Unique</h1>
                        <p>Who are in extreamly love with eco friendly system.</p>

    
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <form method="get">
                        <input type="text" name="servicename" value=""/>
                        <input type="submit" value="Search">
                    </form>
                </div>
                {% for n in servicesData %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="{{n.service_icon}}"></span>
                            <h4><a href="#">{{n.service_title}}</a></h4>
                        </div>
                        <p>
                            {{n.service_des|capfirst|safe}}
                        </p>
                    </div>
                </div>
                {% empty %}
                No Data Found
                {% endfor %}
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    {% if ServiceData.has_previous %}
                  <li class="page-item ">
                    <a class="page-link" href="serviceAbout/?page=1/" tabindex="-1" >First</a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link" href="serviceAbout/?page={{ServiceData.previous_page_number}}" tabindex="-1">Previous</a>
                  </li>
                    {% endif %}
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item ">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  {% if ServiceData.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="serviceAbout/?page={{lastpage}}">Last</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="serviceAbout/?page={{ServiceData.next_page_number}}">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
        </div>
    </section>

{% include "footer.html"%}





