<html>

<head>
    <title>Restaurant site</title>
    <link rel="stylesheet" href="/static/css/menu_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                Upper deck
            </div>
            <input type="checkbox" id="click">
            <label class="menubutton" for="click">
                <a>
                    <i class="fa fa-bars"></i>
                </a>

            </label>
            <ul>
                <li><a href="templates/index.html">Home</a></li>
                <li><a href="templates/Menu.html">Food Menu</a></li>
                
                <li><a href="templates/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="menu_img">
            <img src="/static/img/menu/1.png">
            <img src="/static/img/menu/2.png">
            <img src="/static/img/menu/3.png">
            <img src="/static/img/menu/4.png">
            <img src="/static/img//menu/5.png">
            <img src="/static/img/menu/6.png">
            <img src="/static/img/menu/7.png">
            <img src="/static/img/menu/8.png">
            <img src="/static/img/menu/9.png">
            <img src="/static/img/menu/10.png">
            <img src="/static/img/menu/11.png">
            <img src="/static/img/menu/12.png">
        </div>
    </div>
    <div class="banner2">

    </div>
    <div class="banner3">

    </div>
    <div class="banner4">

    </div>
    <div class="banner5">

    </div>
    <div class="banner6">

    </div>
    <div class="banner7">

    </div>
    <div class="banner8">

    </div>
    <div class="banner9">

    </div>
    <footer class="footer">
        <div class="footer_menu">
            <ul>
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="/templates/Menu.html">food Menu</a></li>
               
                                                                                                                                                                                                                                                                                                                                                                                                                                 
                <li><a href="/templates/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="address">
            <p><b>Address:</b> <br>3rd & 4th Floor, Om Sai Commercial Files,<br> Opp. State Bank, NH66 Main Chowk,<br>
                Kankavli,
                Maharashtra 416602</p>
            <p><b>Contact Number: +91 85509 07020</b></p>
        </div>
        <div class="social">
            <h3>Social Media</h3>
            <label class="social_button">
                <br>
                <a href="https://www.instagram.com/theupperdeckresto/">
                    <img src="/static/img/social_media_images/instagram.png">
                </a>
                <a href="https://www.facebook.com/theupperdeckresto">
                    <img src="/static/img/social_media_images/facebook.png">
            </label>
        </div>

    </footer>
    <div class="name">
        <p>website designed by Jayesh</p>
    </div>
</body>

</html>
